@page
@using Sejlklub23.Interfaces;
@inject IEventRepository repository;
@model Sejlklub23.Pages.Events.IndexModel
@{
    ViewData["Title"] = "index";
}
<h1>
    List of events
</h1>

<p>
    <a asp-page="CreateEvent">Create new event</a>
</p>


<table class="table">
    <thead>
        <tr>
            
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Location</th>
            <th>Edit</th>
            <th>Delete</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Events)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>@item.Title</td>
                <td>
                    @item.Description
                </td>
                <td>@item.StartOfEvent</td>
                <td>@item.EventDuration</td>
                <td>@item.Address</td>
                <td>
                    <a asp-page="EditEvent" asp-route-id="@item.Id"> Edit</a>
                </td>
                <td>
                    <a asp-page="DeleteEvent" asp-route-id="@item.Id"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>