@page
@model Sejlklub23.Pages.Reservations.CreateReservationModel
@{
    ViewData["Title"] = "Reserve boat";
}

<h1>Reserve boat</h1>
<form method="post">
    <div class="form-group">
        <label class="control-label">Member</label>
        <select asp-for="@Model.NewReservation.MemberId" asp-items="@Model.MemberList" class="form-control">
            <option value="">--Select a member--</option>
        </select>

    </div>
    <div class="form-group">
        <label class="control-label">Boat</label>
        <select asp-for="@Model.NewReservation.BoatId" asp-items="@Model.BoatList" class="form-control">
            <option value="">--Select a boat--</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewReservation.StartOfLocation" class="control-label"></label>
        <input asp-for="@Model.NewReservation.StartOfLocation" class="form-control" />
        <span asp-validation-for="@Model.NewReservation.StartOfLocation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewReservation.LocationDuration" class="control-label"></label>
        <input asp-for="@Model.NewReservation.LocationDuration" class="form-control" />
        <span asp-validation-for="@Model.NewReservation.LocationDuration" class="text-danger"></span>
    </div>
    
    <div class=" form-group">
        <input type="submit" value="Create booking" class="btn btn-primary" />
        <input type="submit" value="Test Book" asp-asp-page-handler="Test" class="btn btn-primary" />
    </div>


</form>
