@page
@model Sejlklub23.Pages.Reservations.ReturnBoatModel
@{
    ViewData["Title"] = "Return Boat";
}

<h1>current situation of the boat</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Feedback" class="control-label"></label>
        <input asp-for="@Model.Feedback" class="form-control" />
        <span asp-validation-for="@Model.Feedback" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NumOfHours" class="control-label" value="extend the location of the boat in hour(between 0 and @Model.MaxOfHours)"></label>
        <input asp-for="@Model.NumOfHours" class="form-control" />
    </div>
    <div class=" form-group">
        <input type="submit" value="the boat is returned" asp-page-handler="Returned" class="btn btn-primary" />
        <input type="submit" value="signal a problem" asp-page-handler="Problem" class="btn btn-primary" />
        <input type="submit" value="extand or cancel" asp-page-handler="Cancel" class="btn btn-primary" />
    </div>
</form>